@font-face {
	font-family: "Sannie";
	src: url("../fonts/Sannie/Sannie.eot");
	src: url("../fonts/Sannie/Sannie.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/Sannie/Sannie.woff") format("woff"),
			 url("../fonts/Sannie/Sannie.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


/**********************************************/

/*Media styles, desktop first method*/

@media only screen and (max-width: 1200px){
 .price_page .tabs .tab {
 	font-size: 20px;
 	line-height: 20px;
 }
 .price_page .tabs_items .item .head {
 	font-size: 16px;
 }
 .price_page .tabs_items .item > div > div {
 	font-size: 14px;
 }


 .samples_page .bottom .items > div {
 	width: 25%;
 }
}

@media only screen and (max-width: 992px){
	header .top > div:nth-of-type(2), header .top > div:last-of-type {
		width: 50%;
		order: 1;
	}
	header .top > div.logo_wrap {
		order: 0;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
 header .top > div.menu_wrap {
 	position: relative;
 }
 header .top .menu_wrap #mobile_menu_toggler {
 	display: block;
 }
 header .top > div.menu_wrap .site_menu {
 	position: absolute;
 	background-color: #fff;
 	width: 300px;
 	left: 0;
 	display: none;
 	top: 50px;
 	border-top: 1px solid rgba(0,0,0,.2);
 	box-shadow: 0px 6px 10px rgba(0,0,0,.3);
 	z-index: 300;
 }
 header .top .site_menu li {
 	margin-right: 0;
 	display: block;
 }
 header .top .site_menu li a {
 	color: tomato;
 	font-size: 14px;
 	display: block;
 	text-align: center;
 	padding: 8px 0;
 	border-radius: 0px;
 }
 header .top .site_menu li a:hover {
 	background-color: tomato;
 	color: #fff;
 }
 .home_first {
 	min-height: 550px;
 	padding-top: 100px;
 }
 .home_first .title {
 	font-size: 90px;
 	transform: rotate(-15deg) translateX(14px);
 }
 .home_second {
 	padding: 20px 0;
 }
 .home_second .items .left {
 	width: 35%;
 }
 .home_second .items .right {
 	width: 65%;
 	padding-left: 20px;
 }
 .home_second .items .right .title {
 	font-size: 40px;
 	letter-spacing: 1px;
 }
 .home_second .items .right .text {
 	font-size: 16px;
 	margin-top: 10px;
 }
 .home_third {
 	padding: 20px 0;
 	min-height: 200px;
 }
 .home_third .items .item {
 	width: 24%;
 }
 .home_third .items .item .title {
 	font-size: 21px;
 	margin-bottom: 7px;
 }
 .home_four {
 	padding: 20px 0;
 }
 .home_four .items > div .title {
 	font-size: 24px;
 }
 .home_four .items > div .text {
 	font-size: 16px;
 }
 .home_four .items > div .more {
 	margin-top: 15px;
 }
 .home_five {
 	min-height: 200px;
 	padding: 20px 0;
 	-webkit-background-size: cover;
 	background-size: cover;
 }
 .home_five .title {
 	font-size: 36px;
 }
 .home_five .subtitle {
 	font-size: 24px;
 }
 .home_five .items > div .img {
 	width: 90px;
 }
 .home_five .items > div {
 	padding-left: 100px;
 }
 .home_five .items > div .c_title {
 	font-size: 18px;
 }
 .home_five .items > div .text {
 	font-size: 16px;
 	margin-top: 9px;
 }

 footer {
 	padding: 30px 0;
 }
 footer .top .menu ul li a {
 	font-size: 19px;
 }
 footer .top {
 	margin-bottom: 30px;
 }


 .faq_page {
 	padding: 20px 0;
 }
 .faq_page .top .title {
 	font-size: 60px;
 }
 .faq_page .top .text {
 	font-size: 20px;
 }
 .faq_page .bottom {
 	margin-top: 30px;
 }
 .faq_page .bottom .item .text {
 	font-size: 20px;
 }


 .order_page {
 	padding: 20px 0;
 }
 .order_page .title {
 	font-size: 45px;
 	margin-bottom: 10px;
 }
 .order_page .top > div:first-of-type,
 .order_page .top > div:last-of-type {
		width: 100%;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	.order_page .top > div:last-of-type {
		margin-top: 25px;
	}
 .order_page .bottom_forms > div form > div > div:first-of-type {
 	width: 100%;
 	margin-right: auto;
 	margin-left: 0;
 	padding-right: 0;
 	text-align: left;
 }
 .order_page .bottom_forms > div form > div > div:last-of-type {
 	width: 100%;
 }
 .order_page .bottom_forms > div form button[type="submit"] {
 	font-size: 22px;
 	line-height: 22px;
 }
 .order_page .bottom_forms > div .form_title {
 	font-size: 22px;
 }


 .price_page .tabs_items .item {
 	padding: 15px 20px 20px 20px;
 }
 .price_page .tabs_items .item > div {
 	width: 33.33%;
 }


 .samples_page {
 	padding: 20px 0;
 }
 .samples_page .top .title {
 	font-size: 40px;
 }
 .samples_page .top .text {
 	font-size: 20px;
 	margin-top: 10px;
 }
 .samples_page .bottom .items > div {
 	width: 30%;
 }
}

@media only screen and (max-width: 768px){
	.home_first {
		padding-top: 50px;
		min-height: 400px;
	}
 .home_second .items .left {
 	width: 100%;
 	max-width: 450px;
 	margin-left: auto;
 	margin-right: auto;
 }
 .home_second .items .left fieldset label {
 	font-size: 16px;
 }
 .home_second .items .left button.continue {
 	font-size: 20px;
 	width: 250px;
 }
 .home_second .items .right {
 	width: 100%;
 	padding-left: 0;
 	margin-top: 25px;
 }
 .home_second .items .right .title {
 	font-size: 25px;
 }
 .home_third {
 	-webkit-background-size: cover;
 	background-size: cover;
 }
 .home_third .items {
 	justify-content: space-around;
 }
 .home_third .items .item {
 	width: 35%;
 	margin-bottom: 20px;
 }
 .home_four .items > div .title {
 	font-size: 20px;
 }
 .home_four .items > div .text {
 	font-size: 14px;
 }
 .home_five .items > div {
 	width: 100%;
 	margin-bottom: 20px;
 }

	footer .top .menu {
		width: 100%;
	}
	footer .top .soc {
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}
	footer .top .menu ul li {
		border-right: none;
		margin-right: 0;
		padding-right: 0;
		display: block;
		text-align: center;
	}
	footer .top .menu ul li a {
		padding: 6px 0px;
		display: inline-block;
		border-radius: 4px;
		border: 1px solid #fff;
		margin-bottom: 8px;
		width: 170px;
	}
	footer .bottom {
		justify-content: space-around;
	}


	.faq_page .top .title {
		font-size: 40px;
	}
	.faq_page .top .text {
		padding-left: 0;
		padding-right: 0;
	}
	.faq_page .bottom .item .title {
		font-size: 21px;
		padding-left: 20px;
	}
	.faq_page .bottom .item .text {
		font-size: 18px;
		margin-left: 20px;
	}


	.order_page .top > div:nth-of-type(2) form .bottom .price {
 	margin-bottom: 20px;
 }
 .order_page .top > div:nth-of-type(2) form .bottom .price {
 	font-size: 30px;
 }
 .order_page .bottom_forms > div {
 	width: 100%;
 }
 .order_page .bottom_forms > div:last-of-type .form_title {
 	margin-bottom: ;
 }
 .order_page .bottom_forms_wrap {
 	padding-top: 25px;
 }
 .order_page .bottom_forms > div {
 	padding: 15px 15px 100px 15px;
 }
 .order_page .bottom_forms > div:first-of-type .form_title {
 	margin-bottom: 30px;
 }
 .order_page .bottom_forms > div:last-of-type .form_title {
 	margin-bottom: 30px;
 }
 .order_page .top > div:nth-of-type(2) form .bottom .price {
 	margin-top: 25px;
 }

 .price_page {
 	padding: 20px 0;
 }
 .price_page .tabs_items .item > div {
		width: 50%;
	}
	.price_page .tabs .tab {
		font-size: 16px;
	}

 .samples_page .bottom .items {
 	justify-content: space-around;
 }
	.samples_page .bottom .items > div {
 	width: 50%;
 	max-width: 270px;
 }
 .samples_page .top .text {
 	font-size: 16px;
 }
}

@media only screen and (max-width: 480px){
	header .top > div:nth-of-type(2) {
		width: 30%;
	}
	header .top > div:last-of-type{
		width: 70%;
	}
	.home_third .items .item {
		width: 100%;
		max-width: 250px;
		margin-left: auto;
		margin-right: auto;
	}
	.home_four .items > div {
		width: 100%;
	}
	.home_four .items > div .text {
		max-height: 200px;
	}


	.faq_page .top .text {
		font-size: 18px;
	}
	.faq_page .bottom .item .title {
		font-size: 18px;
	}
	.faq_page .bottom .item .text {
		font-size: 14px;
	}

 .order_page .bottom_forms > div {
 	padding: 20px 0;
 }
	.order_page .top > div:nth-of-type(2) form .flex > div {
		width: 100%;
		margin-bottom: 15px;
	}
	.order_page .top > div:nth-of-type(2) form .flex.third > div:last-of-type {
		margin-top: 30px;
	}
	.order_page .top > div:nth-of-type(2) form .last label:after {
		width: 41px;
	}
	.order_page .bottom_forms > div form button[type="submit"] {
		width: 230px;
		font-size: 19px;
		margin-top: 25px;
		position: static;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}



	.price_page .tabs .tab {
		width: 100%;
	}
	.price_page .tabs_items .item {
		padding-left: 10px;
		padding-right: 10px;
	}


	.samples_page .bottom .items > div {
		width: 100%;
		max-width: 300px;
	}
	.samples_page .bottom .items > div .view {
		font-size: 18px;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 320px){

}