.flaticon-A:before {
	content: "\41";
}
.flaticon-B:before {
	content: "\42";
}
.flaticon-C:before {
	content: "\43";
}
.flaticon-D:before {
	content: "\44";
}
.flaticon-E:before {
	content: "\45";
}
.flaticon-F:before {
	content: "\46";
}
.flaticon-G:before {
	content: "\47";
}
.flaticon-H:before {
	content: "\48";
}
.flaticon-I:before {
	content: "\49";
}
